@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
* {
    margin: 0%;
    padding: 0%;
}

  h1 {
    float: left;
    color: #000000;
    font-family: Audiowide;
    margin: auto;
  }
  .btn {
    /* float: right; */
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px auto 0 ;
  }
  .btn:hover {
    background-color:rgb(122, 167, 251);
  }
.heado{
  display: flex;
  justify-content: space-between;
}
  .column {
    float: center;
    width: 20%;
    padding: 20 20px;
    margin: 2em auto ;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    background-color: whitesmoke;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 50%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .card-img-top {
    background-color: #9834eb;
    border-radius: 50%;
    height: 50%;
    width: 50%;
    border: 2px solid white;
  }
  .card-title {
    font-family: 'Ubuntu', cursive;
  }
  .card-text {
    color: grey;
    font-family: 'Ubuntu', cursive;
  }
  .card:hover{
    background-color: rgb(122, 167, 251);
    box-shadow: 0px 0px 5px 5px white;
 
  }
  .card:hover .card-text{
color: rgb(255, 255, 255);
  }

